<a href="http://162.243.158.152/wladder">Play Again</a>
<br>
<%if @validInput == false%>
  <h2>you win!</h2>
<%else%>
  <h2>you lose!</h2>
<%end%>
<p>
  <h3>Start Word: <%=@startWord%></h3>
  <%@words.each do |x| %>
  <%=x%><br>
  <%end%> 
  <h3>End Word: <%=@endWord%></h3>
</p>
